// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@media (min-width: 40.0625em) {
  main {
    position: relative; }
  .verify-logo-right {
    position: absolute;
    right: -20px;
    top: 80px;
    width: 33.33333%; } }

.verify-logo-right img {
  width: 171px; }

  .slides .slides-verify-logo {
    max-width: 200px; }
    .slides .slides-verify-logo img {
      width: 100%; }

      @media (min-width: 20em) and (max-width: 40.0525em) {
  .hide-mobile {
    display: none; } }
    @media (min-width: 40.0625em) {
  .show-mobile {
    display: none; } }

    .slides {
      background-color: #1d70b8;
      color: #ffffff;
      margin-top: 15px;
      margin-bottom: 15px;
      box-sizing: border-box;
      min-height: 480px;
      padding: 30px; }
      @media (min-width: 40.0625em) {
        .slides {
          margin-top: 30px; } }
      @media (min-width: 40.0625em) {
        .slides {
          padding: 45px; } }
      @media (min-width: 48.0625em) {
        .slides {
          padding: 75px 70px; } }
      .slides h1 {
        margin-top: 0;
        margin-bottom: 30px;
        color: #ffffff; }
        @media (min-width: 20em) and (max-width: 19.99em) {
          .slides h1 {
            margin-top: 15px;
            margin-bottom: 15px; } }
      .slides h2,
      .slides span {
        color: #ffffff; }
      .slides p,
      .slides label,
      .slides ul {
        color: #ffffff;
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.11111; }
        @media print {
          .slides p,
          .slides label,
          .slides ul {
            font-family: sans-serif; } }
        @media (min-width: 40.0625em) {
          .slides p,
          .slides label,
          .slides ul {
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 1.25; } }
        @media print {
          .slides p,
          .slides label,
          .slides ul {
            font-size: 18pt;
            line-height: 1.15; } }
      .slides a,
      .slides a:focus,
      .slides a:hover {
        color: inherit; }
      .slides a:focus {
        color: #1d70b8;
        box-shadow: 0 -2px #ffffff, 0 4px #003078;
        background-color: #ffffff; }
      .slides .multiple-choice > label::before, .slides .multiple-choice > label::after {
        background-color: #ffffff;
        border-color: #0b0c0c; }
      .slides .actions {
        margin: 30px 0 15px; }
        .slides .actions .button {
          background: #ffffff;
          color: #1d70b8;
          font-weight: bold;
          box-shadow: 0 2px 0 #134876; }
      .slides .small-details {
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25; }
        @media print {
          .slides .small-details {
            font-family: sans-serif; } }
        @media (min-width: 40.0625em) {
          .slides .small-details {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.31579; } }
        @media print {
          .slides .small-details {
            font-size: 14pt;
            line-height: 1.15; } }
      .slides .slides-verify-logo {
        max-width: 200px; }
        .slides .slides-verify-logo img {
          width: 100%; }
        @media (max-width: 19.99em) {
          .slides .slides-verify-logo {
            width: 140px; } }
      .slides details summary {
        color: #ffffff; }
      .slides details .panel {
        border-left-color: #ffffff; }
      .slides details p,
      .slides details ul {
        font-size: 1em; }
      .slides details summary:hover {
        color: #f3f2f1; }
      .slides .validation-message {
        color: #ffffff; }
      .slides .govuk-form-group--error {
        border-left: 5px solid #ffffff; }
      .slides .govuk-details__text {
        border-left: 5px solid #ffffff; }
      .slides .govuk-error-summary {
        border: 5px solid #ffffff;
        color: #ffffff; }
      .slides .govuk-error-message {
        color: #ffffff; }
      .slides .govuk-error-summary__list a {
        color: #ffffff; }

        // company selection
        .company-wrapper.clear-left {
          clear: left; }

        .company {
          border-bottom: 1px solid #b1b4b6;
          text-align: center; }
          @media (min-width: 40.0625em) {
            .company {
              border: 5px solid #b1b4b6;
              margin-bottom: 30px; } }

        .company-full-width {
          padding: 0 15px; }

        .company.no-underline {
          border-bottom: none;
          padding-bottom: 30px; }
          @media (min-width: 40.0625em) {
            .company.no-underline {
              border: 5px solid #1d70b8;
              margin-bottom: 30px; } }

        .company-inner {
          padding: 5px 0 18px; }
          @media (min-width: 40.0625em) {
            .company-inner {
              padding: 20px; } }

        .company-logo {
          position: relative;
          width: 50%;
          padding-bottom: 25%;
          margin: 0 auto 15px; }
          @media (min-width: 40.0625em) {
            .company-logo {
              margin: 0 auto 15px;
              width: 80%;
              padding-bottom: 40%; } }

        .company-logo-inner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }

        .company-logo-inner img,
        .company-logo-inner input[type="image"] {
          max-width: 100%; }

        .company .govuk-button {
          margin: 0 0 20px; }
          @media (min-width: 20em) {
            .company .govuk-button {
              width: 65%; } }

        .company dialog .govuk-button {
          margin: 0 0 15px; }

        .company-about {
          font-family: "GDS Transport", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 14px;
          font-size: 0.875rem;
          line-height: 1.14286;
          margin-bottom: 0; }
          @media print {
            .company-about {
              font-family: sans-serif; } }
          @media (min-width: 40.0625em) {
            .company-about {
              font-size: 16px;
              font-size: 1rem;
              line-height: 1.25; } }
          @media print {
            .company-about {
              font-size: 14pt;
              line-height: 1.2; } }

        .company-disconnect-text {
          text-align: left; }

          // HACKS
          .govuk-hint-override{
            color: $govuk-text-colour;
          }
