// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@media (min-width: 40.0625em) {
  main {
    position: relative; }
  .verify-logo-right {
    position: absolute;
    right: -20px;
    top: 80px;
    width: 33.33333%; } }

.verify-logo-right img {
  width: 171px; }

  .slides .slides-verify-logo {
    max-width: 200px; }
    .slides .slides-verify-logo img {
      width: 100%; }

      @media (min-width: 20em) and (max-width: 40.0525em) {
  .hide-mobile {
    display: none; } }
    @media (min-width: 40.0625em) {
  .show-mobile {
    display: none; } }

    .slides {
      background-color: #1d70b8;
      color: #ffffff;
      margin-top: 15px;
      margin-bottom: 15px;
      box-sizing: border-box;
      min-height: 480px;
      padding: 30px; }
      @media (min-width: 40.0625em) {
        .slides {
          margin-top: 30px; } }
      @media (min-width: 40.0625em) {
        .slides {
          padding: 45px; } }
      @media (min-width: 48.0625em) {
        .slides {
          padding: 75px 70px; } }
      .slides h1 {
        margin-top: 0;
        margin-bottom: 30px;
        color: #ffffff; }
        @media (min-width: 20em) and (max-width: 19.99em) {
          .slides h1 {
            margin-top: 15px;
            margin-bottom: 15px; } }
      .slides h2,
      .slides span {
        color: #ffffff; }
      .slides p,
      .slides label,
      .slides ul {
        color: #ffffff;
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.11111; }
        @media print {
          .slides p,
          .slides label,
          .slides ul {
            font-family: sans-serif; } }
        @media (min-width: 40.0625em) {
          .slides p,
          .slides label,
          .slides ul {
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 1.25; } }
        @media print {
          .slides p,
          .slides label,
          .slides ul {
            font-size: 18pt;
            line-height: 1.15; } }
      .slides a,
      .slides a:focus,
      .slides a:hover {
        color: inherit; }
      .slides a:focus {
        color: #1d70b8;
        box-shadow: 0 -2px #ffffff, 0 4px #003078;
        background-color: #ffffff; }
      .slides .multiple-choice > label::before, .slides .multiple-choice > label::after {
        background-color: #ffffff;
        border-color: #0b0c0c; }
      .slides .actions {
        margin: 30px 0 15px; }
        .slides .actions .button {
          background: #ffffff;
          color: #1d70b8;
          font-weight: bold;
          box-shadow: 0 2px 0 #134876; }
      .slides .small-details {
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25; }
        @media print {
          .slides .small-details {
            font-family: sans-serif; } }
        @media (min-width: 40.0625em) {
          .slides .small-details {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.31579; } }
        @media print {
          .slides .small-details {
            font-size: 14pt;
            line-height: 1.15; } }
      .slides .slides-verify-logo {
        max-width: 200px; }
        .slides .slides-verify-logo img {
          width: 100%; }
        @media (max-width: 19.99em) {
          .slides .slides-verify-logo {
            width: 140px; } }
      .slides details summary {
        color: #ffffff; }
      .slides details .panel {
        border-left-color: #ffffff; }
      .slides details p,
      .slides details ul {
        font-size: 1em; }
      .slides details summary:hover {
        color: #f3f2f1; }
      .slides .validation-message {
        color: #ffffff; }
      .slides .govuk-form-group--error {
        border-left: 5px solid #ffffff; }
      .slides .govuk-details__text {
        border-left: 5px solid #ffffff; }
      .slides .govuk-error-summary {
        border: 5px solid #ffffff;
        color: #ffffff; }
      .slides .govuk-error-message {
        color: #ffffff; }
      .slides .govuk-error-summary__list a {
        color: #ffffff; }

        // company selection
        .company-wrapper.clear-left {
          clear: left; }

        .company {
          border-bottom: 1px solid #b1b4b6;
          text-align: center; }
          @media (min-width: 40.0625em) {
            .company {
              border: 5px solid #b1b4b6;
              margin-bottom: 30px; } }

        .company-full-width {
          padding: 0 15px; }

        .company.no-underline {
          border-bottom: none;
          padding-bottom: 30px; }
          @media (min-width: 40.0625em) {
            .company.no-underline {
              border: 5px solid #1d70b8;
              margin-bottom: 30px; } }

        .company-inner {
          padding: 5px 0 18px; }
          @media (min-width: 40.0625em) {
            .company-inner {
              padding: 20px; } }

        .company-logo {
          position: relative;
          width: 50%;
          padding-bottom: 25%;
          margin: 0 auto 15px; }
          @media (min-width: 40.0625em) {
            .company-logo {
              margin: 0 auto 15px;
              width: 80%;
              padding-bottom: 40%; } }

        .company-logo-inner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }

        .company-logo-inner img,
        .company-logo-inner input[type="image"] {
          max-width: 100%; }

        .company .govuk-button {
          margin: 0 0 20px; }
          @media (min-width: 20em) {
            .company .govuk-button {
              width: 65%; } }

        .company dialog .govuk-button {
          margin: 0 0 15px; }

        .company-about {
          font-family: "GDS Transport", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 14px;
          font-size: 0.875rem;
          line-height: 1.14286;
          margin-bottom: 0; }
          @media print {
            .company-about {
              font-family: sans-serif; } }
          @media (min-width: 40.0625em) {
            .company-about {
              font-size: 16px;
              font-size: 1rem;
              line-height: 1.25; } }
          @media print {
            .company-about {
              font-size: 14pt;
              line-height: 1.2; } }

        .company-disconnect-text {
          text-align: left; }

          //COOKIES

          .cookie-settings__form-wrapper {
 display:none
}
.js-enabled .cookie-settings__form-wrapper {
 display:block
}
.js-enabled .cookie-settings__no-js {
 display:none
}
.cookie-settings__confirmation {
 font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:16px;
 line-height:1.25;
 display:none;
 margin-top:15px
}
@media print {
 .cookie-settings__confirmation {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .cookie-settings__confirmation {
  font-size:19px;
  line-height:1.3157894737
 }
}
@media print {
 .cookie-settings__confirmation {
  font-size:14pt;
  line-height:1.15
 }
}
.cookie-settings__gov-services {
 margin-top:50px
}

// GOVUK PAY
.accepted-cards {
 display:block;
 width:100%;
 margin:15px 0 5px;
 padding:0;
 float:none;
 overflow:hidden
}
@media (min-width: 40.0625em) {
 .accepted-cards {
  width:66.666%
 }
}
.accepted-cards li {
 display:block;
 width:3rem;
 height:0;
 margin:0 10px 5px 0;
 padding-bottom:2rem;
 float:left;
 background-image:url("https://www.payments.service.gov.uk/images/accepted-cards-sprite.png");
 background-size:900% 200%
}
.accepted-cards .visa {
 background-position:0% 100%
}
.accepted-cards.field-empty .visa,
.accepted-cards .visa.selected {
 background-position:0% 0%
}
.accepted-cards .master-card {
 background-position:12.5% 100%
}
.accepted-cards.field-empty .master-card,
.accepted-cards .master-card.selected {
 background-position:12.5% 0%
}
.accepted-cards .american-express {
 background-position:25% 100%
}
.accepted-cards.field-empty .american-express,
.accepted-cards .american-express.selected {
 background-position:25% 0%
}
.accepted-cards .jcb {
 background-position:37.5% 100%
}
.accepted-cards.field-empty .jcb,
.accepted-cards .jcb.selected {
 background-position:37.5% 0%
}
.accepted-cards .diners-club {
 background-position:50% 100%
}
.accepted-cards.field-empty .diners-club,
.accepted-cards .diners-club.selected {
 background-position:50% 0%
}
.accepted-cards .discover {
 background-position:62.5% 100%
}
.accepted-cards.field-empty .discover,
.accepted-cards .discover.selected {
 background-position:62.5% 0%
}
.accepted-cards .maestro {
 background-position:75% 100%
}
.accepted-cards.field-empty .maestro,
.accepted-cards .maestro.selected {
 background-position:75% 0%
}
.accepted-cards .visa-electron {
 background-position:87.5% 100%
}
.accepted-cards.field-empty .visa-electron,
.accepted-cards .visa-electron.selected {
 background-position:87.5% 0%
}
.accepted-cards .unionpay {
 background-position:100% 100%
}
.accepted-cards.field-empty .unionpay,
.accepted-cards .unionpay.selected {
 background-position:100% 0%
}
.accepted-cards-hint {
 color:#626a6e
}
// DATE ITEM INPUT SEPPERATOR FROM ELEMENTS
.govuk-date-input__item--with-separator {
 position:relative;
 margin-right:40px
}
.govuk-date-input__item--with-separator:after {
 font-family:"GDS Transport",Arial,sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:36px;
 font-size:2rem;
 line-height:1.1111111111;
 content:'/';
 position:absolute;
 top:71%;
 right:-1.8rem;
 transform:translate(0, -50%)
}
@media print {
 .govuk-date-input__item--with-separator:after {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .govuk-date-input__item--with-separator:after {
  font-size:27px;
  font-size:1.6875rem;
  line-height:1.1111111111
 }
}
@media print {
 .govuk-date-input__item--with-separator:after {
  font-size:18pt;
  line-height:1.15
 }
}

// CVC FROM ELEMENTS
body:not(.js-enabled) .generic-cvc {
 display:block
}
body:not(.js-enabled) .govuk-form-group.cvc .hidden {
 display:inline
}
body:not(.js-enabled) .no-js-lowercase {
 display:inline;
 text-transform:lowercase
}
.govuk-form-group.cvc .cvc {
 float:left;
 margin-right:15px
}
.govuk-form-group.cvc img {
 position:relative;
 top:-1px;
 max-height:38px;
 float:left;
 margin-right:15px
}
.govuk-form-group.cvc .either {
 font-family:"GDS Transport",Arial,sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:16px;
 font-size:1rem;
 line-height:1.25;
 line-height:37px !important;
 color:#626a6e;
 float:left;
 margin-right:15px
}
@media print {
 .govuk-form-group.cvc .either {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .govuk-form-group.cvc .either {
  font-size:19px;
  font-size:1.1875rem;
  line-height:1.3157894737
 }
}
@media print {
 .govuk-form-group.cvc .either {
  font-size:14pt;
  line-height:1.15
 }
}

// payment summary
.payment-summary {
    margin-top: 30px;
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #f3f2f1;
}

          // HACKS
          .govuk-hint-override{
            color: $govuk-text-colour;
          }
          .float-right{
            float: right;
            clear: both;
          }
          .float-left{
            float: left;
            clear: both;
          }
          .clear{
            clear: left;
            display: block;
          }

// cookie message

#global-header-bar,
#global-cookie-message p,
#footer .footer-wrapper {
 max-width:960px;
 margin:0 15px
}
@media (min-width: 641px) {
 #global-header-bar,
 #global-cookie-message p,
 #footer .footer-wrapper {
  margin:0 30px
 }
}
@media (min-width: 1020px) {
 #global-header-bar,
 #global-cookie-message p,
 #footer .footer-wrapper {
  margin:0 auto
 }
}
.js-enabled .gem-c-cookie-banner {
 display:none
}
.gem-c-cookie-banner {
 font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:14px;
 line-height:1.1428571429;
 padding:10px 0;
 background-color:#f3f2f1
}
@media print {
 .gem-c-cookie-banner {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .gem-c-cookie-banner {
  font-size:16px;
  line-height:1.25
 }
}
@media print {
 .gem-c-cookie-banner {
  font-size:14pt;
  line-height:1.2
 }
}
.gem-c-cookie-banner__message {
 display:inline-block;
 padding-bottom:10px;
 font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:14px;
 line-height:1.1428571429
}
@media print {
 .gem-c-cookie-banner__message {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .gem-c-cookie-banner__message {
  font-size:16px;
  line-height:1.25
 }
}
@media print {
 .gem-c-cookie-banner__message {
  font-size:14pt;
  line-height:1.2
 }
}
@media (min-width: 48.0625em) {
 .gem-c-cookie-banner__message {
  padding-right:20px
 }
}
.gem-c-cookie-banner__button.govuk-grid-column-one-half-from-desktop {
 padding:0
}
@media (min-width: 48.0625em) {
 .gem-c-cookie-banner__button .govuk-button {
  width:90%
 }
}
@media (max-width: 48.0525em) {
 .gem-c-cookie-banner__button .govuk-button {
  margin-bottom:20px
 }
}
.gem-c-cookie-banner__button-accept {
 display:none
}
.js-enabled .gem-c-cookie-banner__button-accept {
 display:inline-block
}
.gem-c-cookie-banner__confirmation {
 display:none;
 position:relative;
 padding:5px
}
.gem-c-cookie-banner__confirmation:focus {
 outline:none
}
.gem-c-cookie-banner__confirmation-message,
.gem-c-cookie-banner__hide-button {
 display:block
}
@media (min-width: 48.0625em) {
 .gem-c-cookie-banner__confirmation-message,
 .gem-c-cookie-banner__hide-button {
  display:inline-block
 }
}
.gem-c-cookie-banner__confirmation-message {
 margin-right:20px
}
@media (min-width: 48.0625em) {
 .gem-c-cookie-banner__confirmation-message {
  max-width:90%;
  margin-bottom:0
 }
}
.gem-c-cookie-banner__hide-button {
 font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:16px;
 line-height:1.25;
 outline:0;
 border:0;
 background:none;
 text-decoration:underline;
 color:#1d70b8;
 padding:0;
 margin-top:10px
}
@media print {
 .gem-c-cookie-banner__hide-button {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .gem-c-cookie-banner__hide-button {
  font-size:19px;
  line-height:1.3157894737
 }
}
@media print {
 .gem-c-cookie-banner__hide-button {
  font-size:14pt;
  line-height:1.15
 }
}
.gem-c-cookie-banner__hide-button:hover {
 color:#003078;
 cursor:pointer
}
.gem-c-cookie-banner__hide-button:focus {
 outline:3px solid transparent;
 color:#0b0c0c;
 background-color:#ffdd00;
 box-shadow:0 -2px #ffdd00, 0 4px #0b0c0c;
 text-decoration:none
}
@media (min-width: 48.0625em) {
 .gem-c-cookie-banner__hide-button {
  margin-top:0;
  position:absolute;
  right:5px
 }
}
.gem-c-cookie-banner__buttons--flex {
 display:flex;
 flex-wrap:wrap;
 align-items:baseline
}
.gem-c-cookie-banner__buttons--flex .govuk-button,
.gem-c-cookie-banner__buttons--flex .gem-c-cookie-banner__link {
 flex-grow:1;
 flex-basis:10rem;
 margin-right:15px;
 margin-bottom:15px
}
.gem-c-cookie-banner#global-cookie-message {
 background-color:#f3f2f1;
 padding:20px 0;
 box-sizing:border-box
}
.gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
.gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
.gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
.gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
 // font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:16px;
 line-height:1.25
}
@media print {
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
  font-size:19px;
  line-height:1.3157894737
 }
}
@media print {
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
 .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
  font-size:14pt;
  line-height:1.15
 }
}
.gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message {
 margin-bottom:0
}
.gem-c-cookie-banner#global-cookie-message p {
 // font-family:"nta", Arial, sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-weight:400;
 font-size:16px;
 line-height:1.25;
 margin:0 0 10px 0
}
@media print {
 .gem-c-cookie-banner#global-cookie-message p {
  font-family:sans-serif
 }
}
@media (min-width: 40.0625em) {
 .gem-c-cookie-banner#global-cookie-message p {
  font-size:19px;
  line-height:1.3157894737
 }
}
@media print {
 .gem-c-cookie-banner#global-cookie-message p {
  font-size:14pt;
  line-height:1.15
 }
}
