
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'GOV.UK Verify' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Who do you have an identity account with?</h1>
    <p class="govuk-body">If you don’t have an identity account, you can <a href="prototype">set one up now</a>.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="js-continue-to-idp" data-location="/select-idp?locale=en">


          <div class="js-continue-to-idp" data-location="/select-idp?locale=en">

            <div class="govuk-grid-column-one-third company-wrapper clear-left">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <input type="image" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/experian.png" alt="Experian logo">
                    </div>
                  </div>
                  {{ govukButton({
                    text: "Select Experian",
                    href: "post-office-complete"
                  }) }}
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third company-wrapper ">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <input type="image" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/post-office.png" alt="Post Office logo">
                    </div>
                  </div>

                {{ govukButton({
                  text: "Select Post Office",
                  href: "post-office-complete"
                }) }}
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third company-wrapper ">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <input type="image" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/barclays.png" alt="Barclays logo">
                    </div>
                  </div>
                  {{ govukButton({
                    text: "Select Barclays",
                    href: "post-office-complete"
                  }) }}
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third company-wrapper clear-left">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <input type="image" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/secureidentity.png" alt="SecureIdentity logo">
                    </div>
                  </div>
                  {{ govukButton({
                    text: "Select SecureIdentity",
                    href: "post-office-complete"
                  }) }}
                </div>
              </div>
            </div>


            <div class="govuk-grid-column-one-third company-wrapper ">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <input type="image" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/digidentity.png" alt="Digidentity logo">
                    </div>
                  </div>
                  {{ govukButton({
                    text: "Select Digidentity",
                    href: "post-office-complete"
                  }) }}
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
    <br>
    <p class="govuk-body"><a href="prototype">I can’t remember which company verified me</a></p>

    <p class="govuk-body-s">Use the <a id="feedback_link_id" href="prototype">feedback form</a> to ask a question, report a problem or suggest an improvement</p>
    <div class="verify-logo-right">
      <img srcset="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/govuk-verify-small-black-text-454fe97ff5e3edfb6eebdc648930c0ff675616ae7956f1d87e67b30f479d7b8d.svg 1x" alt=" " role="presentation" src="https://gds-verify-frontend-assets.s3.amazonaws.com/5ac9ea1-7e17cff/govuk-verify-small-black-text-df8e91e89e60f25adb96a11a4d5b8a42da3fa2707da4da009947dc4d092ba3ab.png">
    </div>
  </div>
</div>
{% endblock %}
