
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'DBS Check' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "prototype"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Review your application</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sam Philips"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Other names"
            },
            value: {
              text: "You haven't used any other names"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "5 January 1978"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Place of birth"
            },
            value: {
              html: "United Kingdom<br>London"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "place of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Address history"
            },
            value: {
              html: "164 Strelly Road <br />Strelley <br /> Nottingham <br /> NG8 6PB <br /> United Kingdom "
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: "sam.phillips@gmail.com"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-l">Application details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "UK National Insurance number"
            },
            value: {
              text: "AP438320H"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "UK National Insurance number"
                }
              ]
            }
          },
          {
            key: {
              text: "Current UK driving licence number"
            },
            value: {
              text: "GFH99880172FG9GQ"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Current passport number"
            },
            value: {
              html: "GTR87699172UHU9HGF"
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          },
          {
            key: {
              text: "Address to send your certificate to"
            },
            value: {
              html: "164 Strelly Road <br />Strelley <br /> Nottingham <br /> NG8 6PB <br /> United Kingdom "
            },
            actions: {
              items: [
                {
                  href: "prototype",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}



        {{ govukButton({
          text: "Continue",
          href: "declaration"
        }) }}


    </div>
  </div>
{% endblock %}
