
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'dbs' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">By continuing with your application you confirm that:</h1>

<ul class="govuk-list govuk-list--bullet">
  <li>
    the information you have given is true
  </li>
  <li>
    you'll pay £23 for your application
  </li>
</ul>

{{ govukWarningText({
  text: "You could be prosecuted if you knowingly give false information in your application.",
  iconFallbackText: "Warning"
}) }}



    {{ govukButton({
      text: "Continue to payment",
      href: "card-details"
    }) }}

  </div>

</div>
{% endblock %}
