
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'DBS Check' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set yesHtml %}
    {{ govukInput({
      id: "contact-by-email",
      name: "contact-by-email",
      type: "email",
      classes: "govuk-!-width-one-third",
      label: {
        text: "UK National Insurace number"
      },
      attributes: {
        spellcheck: "false"
      }
    }) }}
    {% endset -%}




    {{ govukRadios({
      idPrefix: "how-contacted-conditional",
      name: "how-contacted",
      fieldset: {
        legend: {
          text: "Do you have a National Insurance number?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "If you can't provide a UK National Insurance number you can carry on with your application, but it might take us longer to process your check.",
        classes: "govuk-hint-override"
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: yesHtml
          }
        },
        {
          value: "no",
          text: "No / I cannot provide the details right now "
        }
      ]
    }) }}


{{ govukDetails({
  summaryText: "I don't know my National Insurance number",
  text: "Never mind just continue."
}) }}


    {{ govukButton({
      text: "Continue",
      href: "driving-licence"
    }) }}

  </div>

</div>
{% endblock %}
