
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set yesHtml %}
    {{ govukInput({
      id: "contact-by-email",
      name: "contact-by-email",
      type: "email",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Passport number"
      },
      attributes: {
        spellcheck: "false"
      }
    }) }}
    {% endset -%}




    {{ govukRadios({
      idPrefix: "how-contacted-conditional",
      name: "how-contacted",
      fieldset: {
        legend: {
          text: "Do you have a current passport?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: "<p class=\"govuk-body\">If you can't provide your passport details you can still carry on with your application, but it might take us longer to process your check.</p>
        <div class=\"govuk-inset-text\">
          If you have an Irish passport card and want to provide this instead of your passport, you can enter the details of your card here.
        </div>",
        classes: "govuk-hint-override"
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: yesHtml
          }
        },
        {
          value: "no",
          text: "No / I cannot provide the details right now "
        }
      ]
    }) }}

    {{ govukDetails({
      summaryText: "I don't know my driving licence number",
      text: "Never mind just continue."
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "where-send"
    }) }}

  </div>

</div>
{% endblock %}
