
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'DBS Check' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Your applicaition will be proccessed as soon as possible.
      </p>
      <p class="govuk-body">
        We'll send you an update by email with a link to view your application providing you have no criminal convictions.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
  <script>
   var num = 1;
   function addCookie(){
      document.cookie = num+" = "+num;
      num++;
   }
   function listCookies(){
      var result = document.cookie;
      document.getElementById("list").innerHTML = result;
   }
   function removeCookies() {
      var res = document.cookie;
      var multiple = res.split(";");
      for(var i = 0; i < multiple.length; i++) {
         var key = multiple[i].split("=");
         document.cookie = key[0]+" =; expires = Thu, 01 Jan 1970 00:00:00 UTC";
      }
   }
</script>
<!-- <button onclick = 'addCookie()'>ADD</button><br>
<button onclick = 'listCookies()'>LIST COOKIES</button><br> -->
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<p class="govuk-heading-m">Remove cookies</p>
<button class="govuk-button" onclick = 'removeCookies()'>REMOVE COOKIES</button>
<!-- <h1>Cookies List</h1> -->
<!-- <p id = "list"></p> -->
{% endblock %}
