
{% extends "govuk-layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set cookie = 'DBS Check' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set anotherAddressHtml %}
    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
        text: "Provide the address"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "how-contacted-conditional",
      name: "how-contacted",
      fieldset: {
        legend: {
          text: "Where would you like us to send your certificate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: "<p class=\"govuk-body\">We can send your certificate to your current address, or another personal address (for example a family member), or your employer.</p>
                <p class=\"govuk-body\">If you send your certificate to another address make sure you are able to check the information on it is correct.</p>
                <div class=\"govuk-inset-text\">
                  If you send your certificatge to a non-UK address it could take longer to arrive in the post.
                </div>",
        classes: "govuk-hint-override"
      },
      items: [
        {
          value: "yes",
          text: "My current address"
        },
        {
          value: "no",
          text: "Another address",
          conditional: {
            html: anotherAddressHtml
          }
        }
      ]
    }) }}

    {{ govukDetails({
      summaryText: "I don't know my driving licence number",
      text: "Never mind just continue."
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "email"
    }) }}

  </div>

</div>
{% endblock %}
